@model HW2.Models.Homework

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Homework</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
