@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<HW2.Models.Homework>

@{
    ViewData["Title"] = "Index";
}

<h1>作业管理</h1>

<p>
    <a asp-action="Create">添加</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (User.IsInRole("作业管理") && !User.IsInRole("管理员"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">查看</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                    </div>
                }
                @if (User.IsInRole("答案管理") && !User.IsInRole("管理员"))
                {
                    <div>
                        <a asp-action="EditAnswer" asp-route-id="@item.Id">编辑答案</a>
                    </div>
                }
                @if (User.IsInRole("管理员"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                        <a asp-action="EditAnswer" asp-route-id="@item.Id">编辑答案</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">查看</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
